/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*{
    box-sizing:border-box;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*  Ufo green: #3FDA77;
    Light crimson:#EA6293;
    Mardi Gras: #3C0033;
    Dull Lime: #26B34C;
    Romance: #FCFCFD*/

/*  Arsenal: #FE0002;
    Bournemouth: #E62333;
    Burnley: #6A003A;
    Chelsea: #0A4595;
    Crystal Palace: #EB302E;
    Everton:#00369C;
    Hull City: #F6A22E;
    Leicester: #273E8A;
    Liverpool: #E31B23;
    Man City: #6CAEE0;
    Man U: #D81920;
    MiddlesBrough: #DB1D23;
    Southhampton: #D71920;
    Stoke City: #D71F30;
    Sunderland: #DB001B;
    Swansea: #F5F5F5;
    Tottenham: #041C51;
    Watford: #FFEE00;
    West Brom: #041C51;
    West Ham: #7D2C3B;

*/

body{
    width: 100%;
    margin: 0 auto;
}
header{
    padding-left: 10%;
}
article{
    width: 70%;
    font-family: 'Lato', sans-serif;
    font-weight:400;
    size:14px;
    margin: 0 auto;
}

h1{
    font-family: 'Lato', sans-serif;
    font-weight:900;
    text-transform:uppercase;
    color:#3FDA77;
    display: inline-block;

}
h2{
    font-family: 'Lato', sans-serif;
    font-weight:700;
    font-size:14px;
    color:#EA6293;
}

h3{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color:#3C0033;
    margin-bottom: 0;
}
h4{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color:#26B34C;
    margin-top: 0;
}
h5{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color:#3C0033;
}

#logo{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color:#3C0033;
    text-transform: none;
}
p{
    font-family: 'Lato', serif;
    font-weight:300;
    color: black;
}

.sticky-nav-wrapper {
  height: 60px;
}

#mobilnav{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 60px;
    transition: all 300ms ease-in-out;
    transform: translateY(-100%);
    z-index: 100;
    visibility: hidden;
}



#mobilenav a {
  display: inline-block;
  margin: 1rem;
  padding: .25rem 0;
  text-decoration: none;
  color: #7A7A7A;
  font-size: 1rem;
}



nav {
  width: 100%;
  text-align: center;
  background-color: white;
  box-shadow: 0 3px 11px rgba(0, 0, 0, .1);
  transition: all 300ms ease-in-out;
  z-index: 1000;
  position: relative;
}


nav a {
  display: inline-block;
  margin: 1rem;
  padding: .25rem 0;
  text-decoration: none;
  color: #7A7A7A;
  font-size: 1rem;

}

.navhover
{
    border-bottom: solid .2rem #3FDA77;
    padding-bottom: .05rem;
}

.navclick
{
    border-bottom: solid .2rem #3FDA77;
    padding-bottom: .05rem;
    color:#3C0033;
}

#navContent h1:first-of-type{
    visibility: hidden;
    display: inline-block;
    font-size:1rem;
    margin: 0;
    padding:0;
    text-decoration: none;
}

#navContent h1{
    visibility: hidden;
    display: inline-block;
    font-size:1rem;
    margin: 1rem;
    margin-left: 0;
    padding: .25rem 0;
    padding-left: 0;
    text-decoration: none;
}


#navContent{
    transition: all 300ms ease-in-out;

}

nav .active {
  border-top: 2px solid #F07057;
}

.scrolled {
  position:fixed;
  top:0;
}

.stickyTop{
}

button{
    display: none;
    text-align: center;
    margin: 1rem;
    padding: .2rem;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: .8rem;
    background-color:#3FDA77;
    transition: all 300ms ease-in-out;
    outline: 0;
}

.btnclick{
    background-color: #3C0033;
    outline:0;
}


#mapid{ 
    display:block;
    /*block*/
    width: 50%;
    float: left;
    height: 459px;
    z-index: 50;
    }
#table{
    width: 50%;
    /*inline-block*/
    color: #3C0033;
    float:left;
    background-color:#FCFCFD;
    border-left: solid 1px #3C0033;
    padding-left:0px;
    margin: 0 auto;
    z-index: 100;
}

#datawrapper{
    border: solid 2px #7A7A7A;
    border-radius: 5px;
}

.highlight{
    background-color: #EA6293;
    }

.highlightArsenal{ 
    background-color: #FE0002;}
.highlightBournemouth{ 
    background-color: #E62333;
}
.highlightBurnley{ 
    background-color: #6A003A;
}
.highlightChelsea{ 
    background-color: #0A4595;
}
.highlightCrystalPalace{ 
    background-color: #EB302E;
}
.highlightEverton{ 
    background-color:#00369C;
}
.highlightHullCity{ 
    background-color: #F6A22E;
}
.highlightLeicester{ 
    background-color: #273E8A;
}
.highlightLiverpool{ 
    background-color: #E31B23;
}
.highlightManCity{ 
    background-color: #6CAEE0;
}
.highlightManU{ 
    background-color: #D81920;
}
.highlightMiddlesBrough{ 
    background-color: #DB1D23;
}
.highlightSouthhampton{ 
    background-color: #D71920;
}
.highlightStokeCity{ 
    background-color: #D71F30;
}
.highlightSunderland{ 
    background-color: #DB001B;
}
.highlightSwansea{ 
    background-color: #F5F5F5;
}
.highlightTottenham{ 
    background-color: #041C51;
}
.highlightWatford{ 
    background-color: #FFEE00;
}
.highlightWestBrom{ 
    background-color: #041C51;
}
.highlightWestHam{ 
    background-color: #7D2C3B;
}

thead th{
    background-color:#FCFCFD;
    cursor: default;
}

th{
    font-family: 'Lato', sans-serif;
    font-weight:700;
    font-size:14px;
    color:#EA6293;
}


table{
    width:100%;
    margin: 0 auto;
}
 tr {
    display: table-row;
    vertical-align:middle;
    text-align: center;
    cursor: pointer;
 }
.tableTeam{
    text-align:left;
 }

.teamAbrv{
    font-weight: 600;
}
/*#quiz{
    padding-left:20px;
    height:150px;
    width: 100%;
    background-color:#3C0033;
    border-radius:5px;
    display:inline-block;
    margin-bottom:50px;
}*/

/*button{
    display:block;
    font-family:'Lato', sans-serif;
    font-weight:700;
    font-size:14px;
    background-color:#3FDA77;
    border-radius:50px;
    border-style:none;
    color:#fff;
    margin:0 auto;
    position:relative;
    transform: translateY(-50%);
    top:50%;    
}*/

.selected{
    background-color:#EA6293;
    color: #3C0033;
}

footer{
    width: 70%;
    margin: 0 auto;
    
}

footer h1, footer > #logo{
    color: #7A7A7A;
}

footer> #logo{
    padding-right: 30px;
}
footer a{
    color: #7A7A7A;
    display: inline-block;
    font-size: 2rem;
}

.footerHover{
    color:#3FDA77;
    transition: all 100ms ease-in-out;
}

.active{
    transform: translateY(2%);
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 700px) {
    /* Style adjustments for viewports that meet the condition */
    #mapid{
    display:block;
    /*block*/
    width: 100%;
    float: left;
    height: 200px;
    z-index: 50;
   }
   footer{
    font-size: 10px;
}
    #table{
    width: 100%;
    /*inline-block*/
    color: #3C0033;
    float:left;
    height: 200px;
    background-color:#FCFCFD;
    border-left: none;
    border-top: solid 1px #3C0033;
    padding-left:0px;
    margin: 0 auto;
    overflow-y: auto;
}
header {
    display: none;
}

nav a{
    display: none ;
}

#mobilnav{
    visibility: visible;
}

#mobilnav a{
    display: inline-block;
}
nav button{
    display: inline-block;
}

#navContent h1:first-of-type{
    visibility: visible;
    display: inline-block;
    font-size:1rem;
    margin: 0;
    padding:0;
    text-decoration: none;
}

#navContent h1{
    visibility: visible;
    display: inline-block;
    font-size:1rem;
    margin: 1rem;
    margin-left: 0;
    padding: .25rem 0;
    padding-left: 0;
    text-decoration: none;
}


}
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
